{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}
<table  class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Musician Name</th>
      <th scope="col">Email</th>
      <th scope="col">Album Rating</th>
      <th scope="col">Instrument Type</th>
      <th scope="col">Album Name</th>
      <th scope="col">Release Date</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for i in data %} {% csrf_token %}
    <tr>
      <th scope="row">{{i.id}}</th>
      {% comment %} <td>{{i.musician.first_name}} {{i.musician.last_name}}</td> {% endcomment %}
      <td><a href="{% url 'edit_person' i.musician.id  %}">{{ i.musician.first_name }} {{ i.musician.last_name }}</a></td>
      <td>{{i.musician.email}}</td>
      <td>{{i.rating}}</td>
      <td>{{i.musician.insturment}}</td>
      <td>{{i.album_name}}</td>
      <td>{{i.Album_Realease_Date }}</td>
      <td>
        <a href="{% url 'album_edit' i.id  %}" class="btn btn-primary">Edit</a >
        <a href="{% url 'delete_post' i.id  %}" class="btn btn-danger">Delete</a >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
