.main-container {
    display: flex;
     justify-content: space-evenly;
    align-items: start; 
    
}

.cart-container {
    width: 40%;
    box-shadow: 4px 4px 8px gray;
    margin: auto;
    text-align: center;
}

.product-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
    margin: auto;
    text-align: center;
   
}

.card{
   padding: 10px;
    box-shadow: 4px 4px 8px gray; 
  
}

.card-img{
    width: 150px;
   
}

.cart-info{
    display: flex;
    justify-content: space-around;

}